{% extends 'layout.html' %}
{% block body %}
    <h1>Our Catalog</h1><br />
    <div class="width-max">
    {% if session.logged_in %}
        <a href="/add_category" class="btn btn-catalog">Add Category</a>
        <a href="/add_item" class="btn btn-catalog">Add Item</a>
        <br />
        <br />
    {% endif %}
    </div>
    <table class="table table-striped">
      <tr>
        <td class="table-catalog">
            <h5 class="h5-catalog"><i class="fas fa-tags"></i>&nbsp;Categories</h5>
            <ul class="list-group">
            {% for cat in catalog %}
                <li class="list-group-item catalog-list">
                    <table class="table-responsive">
                        <tr>
                            <td class="td1-catalog"><a class="a-cat-catalog" href="#">{{ cat.name }}</a></td>
                            <td class="td2-catalog"><a href="edit_cat/{{cat.id}}" class="btn btn-edit pull-right">Edit</a></td>
                            <td class="td2-catalog">
                                <form action={{ url_for('delete_cat', id=cat.id) }} method='post'>
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" value="Delete" class="btn btn-delete">
                                </form>
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
            </ul>
        </td>
        <td class="table-catalog">
            <h5 class="h5-catalog">Latest Items</h5>
            <ul class="list-group">
                {% for item in latestitem %}
                    <li class="list-group-item">
                        <table class="table">
                            <tr>
                                <td>{{ latestitem.name }}</td>
                                <td><a href="edit_item/{{item.id}}" class="btn btn-default pull-right">Edit</a></td>
                                <td>
                                    <form action={{ url_for('delete_item', id=item.id) }} method='post'>
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </li>
                {% endfor %}
            </ul>
        </td>

      </tr>
    </table>
{% endblock body %}
