{% extends 'layout.html' %}
{% block body %}
    <h1>Our Catalog</h1><br />
    <div class="width-max">
    {% if session.logged_in %}
        <a href="/add_category" class="btn btn-catalog">Add Category</a>
        <a href="/add_item" class="btn btn-catalog">Add Item</a>
        <br />
        <br />
    {% endif %}
    </div>
    <table class="table table-striped">
      <tr>
        <td class="table-catalog">
            <h5 class="h5-catalog"><i class="fas fa-tags"></i>&nbsp;Categories</h5>
            <ul class="list-group">
            {% for cat in catalog %}
               <div class="hide">{{ loop.index }}</div>
                <li class="list-group-item catalog-list">
                    <table class="table-responsive">
                        <tr>
                            <td class="td1-catalog"><a class="a-cat-catalog" href="{{cat.name}}">{{ cat.name }}</a></td>
                            {% if session.logged_in %}
                            <td class="td2-catalog"><a href="edit_cat/{{cat.id}}" class="btn btn-edit pull-right">Edit</a></td>
                            <td class="td2-catalog">
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn-delete" data-toggle="modal" data-target="#deleteWarning{{loop.index}}">
                                Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteWarning{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="deleteWarningLabel" aria-hidden="false" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete {{ cat.name }}?<br />
                                        This cannot be undone.<br /><br />
                                        Note: <br />
                                        Items related to this category will remain in your catalog until deleted seperately.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn-go-back" data-dismiss="modal">Go back</button>
                                        <div class="btn-del-inline">
                                            <form action={{ url_for('delete_cat', id=cat.id) }} method='post'>
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="submit" value="Delete" class="btn btn-delete">
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                
                            </td>
                            {% endif %}
                        </tr>
                    </table>
                </li>
            {% endfor %}
            </ul>
        </td>
        <td class="table-catalog">
            <h5 class="h5-catalog">10 Latest Items</h5>
            <ul class="list-group">
            {% for item in latestitems %}
            <div class="hide">{{ loop.index }}</div>
                <li class="list-group-item catalog-list">
                    <table class="table-responsive">
                        <tr>
                            <td class="td1-catalog"><a class="a-cat-catalog" href="{{item.category}}/{{item.name}}">{{ item.name }}</a>
                            (<a class="a-cat-catalog" href="{{item.category}}">{{ item.category }}</a>)</td>
                            {% if session.logged_in %}
                            <td class="td2-catalog"><a href="edit_item/{{item.id}}" class="btn btn-edit pull-right">Edit</a></td>
                            <td class="td2-catalog">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn-delete" data-toggle="modal" data-target="#deleteWarning{{loop.index}}">
                                    Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteWarning{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="deleteWarningLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete {{ item.name }}?<br />
                                                This cannot be undone.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-go-back" data-dismiss="modal">Go back</button>
                                                <div class="btn-del-inline">
                                                    <form action={{ url_for('delete_item', id=item.id) }} method='post'>
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="submit" value="Delete" class="btn btn-delete">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            {% endif %}
                        </tr>
                    </table>
                </li>
            {% endfor %}
            </ul>
        </td>

      </tr>
    </table>

{% endblock body %}
