{% extends 'layout.html' %}

{% block body %}
    {% for entry in singleitem %}
        <h1>{{ entry.name }}</h1>
        <hr>
        <div>
            {{ entry.detail | safe }}
        </div>
        {% if session.logged_in %}
            <a href="{{ url_for('edit_item', id=entry.id) }}" class="btn btn-edit pull-right">Edit</a>
            <form action={{ url_for('delete_item', id=entry.id) }} method='post'>
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-delete">
            </form>
        {% endif %}

    {% endfor %}
    
{% endblock body %}