body {
    background-color: #e1e9f7;
    color: #1c3c7c;
    font-family: 'Montserrat', sans-serif;
}

.snowman {
    color: #fff;
    font-size: 3em;
}

.my-container {
    background-color: #becbe0;
    padding: 40px;
    margin-top: 40px;
}

.my-nav {
    background-color: #6f90c6;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #1c3c7c;
}

.nav-item {
    color: #1c3c7c;
    padding: 0;
}

.nav-item:hover {
    color: #fff;
}

.table-catalog {
    width: 50%;
}

.list-group-item {
    padding: 0;
}

.catalog-list {
    background-color: #d0dbed;
}

.btn-catalog {
    background-color: #6f90c6;
    border-radius: 2px;
    margin-left: 10px;
}

.btn-catalog:hover {
    color: #fff;
}

.h5-catalog {
    margin: 20px 0;
}

.a-cat-catalog {
    color: #1c3c7c;
}

.a-cat-catalog:hover {
    color: #6f90c6;
    text-decoration: none;
}

.btn-edit {
    border-radius: 2px;
    background-color: #6f90c6;
}

.btn-edit:hover {
    color: #fff;
}

.btn-delete {
    border-radius: 2px;
    background-color: #f44271;
}

.btn-delete:hover {
    color: #fff;
}

.width-max {
    width: 100%;
    text-align: right;
}

.btn-cat-additem {
    border-radius: 2px;
    background-color: #6f90c6;
    margin: 20px 0;
    color: #fff;
}

.btn-submit {
    border-radius: 2px;
    background-color: #4ec4c4;
    color: #fff;
}

.td1-catalog {
    width: 70%;
    background-color: #d0dbed;
    margin: 0;
    padding: 0;
    border-style: none;
}

.td2-catalog {
    width: 15%;
    background-color: #d0dbed;
    margin: 0;
    padding: 0;
    border-style: none;
}

.select {
    margin: 60px 0 20px 0;
}
