body {
    background-color: #e1e9f7;
    color: #1c3c7c;
    font-family: 'Montserrat', sans-serif;
}

.snowman {
    color: #fff;
    font-size: 3em;
}

.my-container {
    background-color: #becbe0;
    padding: 40px;
    margin-top: 40px;
}

.my-nav {
    background-color: #6f90c6;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #1c3c7c;
}

.nav-item {
    color: #1c3c7c;
    padding: 0;
}

.nav-item:hover {
    color: #fff;
}

.table-catalog {
    width: 50%;
}

.catalog-list {
    background-color: #e1e9f7;
}

.btn-catalog {
    background-color: #6f90c6;
    border-radius: 2px;
}

.btn-catalog:hover {
    color: #fff;
}

.h5-catalog {
    margin: 20px 0;
}

.width-max {
    width: 100%;
    text-align: right;
}
